[user]
  name = Topplestack
  email = topplestack@gmail.com

[github]
  user = Topplestack
[color]
  diff = auto
  status = auto
  branch = auto
[color "status"]
  added = green
  changed = blue
  untracked = red
[color "diff"]
  meta = yellow
  old = red
  new = green
[commit]
  template = ~/.gitmessage
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

  editor = atom
  filemode = false
  autocrlf = false

[alias]
  # List ignored files
  ignored = ls-files \
    --others \
    --ignored \
    --exclude-standard

  # List contributors
  contributors = shortlog \
    --summary \
    --email \
    --numbered

  find-branch = !sh -c \"git branch -a | grep -v remotes | grep $1 \"

  plog = log --graph --pretty=format:'%C(bold blue)%h%Creset - %C(yellow)%d%Creset %s %C(cyan dim)(%cr)%Creset %n' --abbrev-commit --branches
[grep]
  lineNumber = true

[help]
  autocorrect = 1

[push]
  followTags = true
  default = current

[fetch]
  prune = true
